.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-orange {
  display: flex;
  align-items: center;
  border: none;
  padding: 0.6em 1em 0.6em 1em;
  font-size: 22px;
  border-radius: 50px;
  background-color: #f69906;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}

.btn-lightgray {
  border: none;
  padding: 0.6em 1em 0.6em 1em;
  font-size: 22px;
  border-radius: 50px;
  background-color: #a0a0a0;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}

.btn-gray {
  display: flex;
  align-items: center;
  border: none;
  padding: 0.6em 1em 0.6em 1em;
  font-size: 22px;
  border-radius: 50px;
  background-color: #313131;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}

.btn-gray__zero .btn-gray {
  margin-top: 10px;
  padding: 0.6em 4em 0.6em 1em;
  align-self: flex-start;
  text-align: left;
  justify-self: flex-start;
}

.calculator-content {
  display: flex;
  min-height: 100vh;
  max-width: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.calculator-content__additional {
  display: flex;
}

.calculator-content_buttons {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  align-items: flex-start;
  justify-content: center;
}

.calculator-content__part {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.calculator-content__nums {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
}

.calculator-content__actions {
  display: flex;
  flex-direction: column;
}

.calculator-content__result {
  margin-left: 20px;
  max-width: 500px;
}

.result {
  border: none;
  background-color: transparent;
  max-width: 230px;
  padding: 10px 0 10px 0;
  font-weight: 300;
  color: #fff;
  font-size: 35px;
}
